/* Label tricks just like google by using CSS */

form {
    margin: 0 auto;
    background-color: #fff;
    position: relative;
}

input {
    width: 400px;
    height: 40px;
    background: transparent;
    border: 1px solid #ccc;
    transition: all .3s ease;
    padding: 0 15px;
    margin-top: .5rem;
    /* margin-top: rem; */
}

label {
    position: absolute;
    cursor: text;
    z-index: 2;
    top: 21px;
    left: 10px;
    font-size: 12px;
    font-weight: bold;
    background-color: #fff;
    padding: 0 15px;
    color: #999;
    transition: all .3s ease;
}

#password1 {
    position: absolute;
    cursor: text;
    z-index: 2;
    top: 70px;
    left: 10px;
    font-size: 12px;
    font-weight: bold;
    background-color: #fff;
    padding: 0 15px;
    color: #999;
    transition: all .3s ease;
}

input:focus+label, input:valid+label {
    font-size: 11px;
    top: 3px;
}

input:focus+label{
    color: blue;
}

input:focus{
    border-color: blue;
    outline: 1px solid blue;
}

input:focus+#password1, input:valid+#password1 {
    font-size: 11px;
    top: 52px;
}

input:focus+#password1{
    color: blue;
}